%h2= @post.title
= @post.body
.post-button
  = link_to 'Редактировать', edit_post_path(@post), class: "btn btn-xs btn-primary"
  = link_to 'Удалить', [:admin, @post], method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-xs btn-danger"
%h3 Комментарии
- @post.comments.each do |comment|
  %p= comment.name
  %p= comment.body
%h3 Оставить комментарий
= form_for ([@post, @post.comments.build]) do |f|
  = f.text_field :name, class: "form-control", placeholder: "Ваше имя"
  = f.text_area :body, class: "form-control", placeholder: "Комментарий"
  .pull-right
    = f.submit "Отправить", class: "btn btn-success"
