%h2= @post.title
%p= "Text: #{@post.body}"
- if @post_photos
  - @post_photos.each_slice(3) do |photos|
    .row
      - photos.each do |photo|
        .col-sm-6.col-md-4
          .thumbnail
            = image_tag photo.photo_url(:thumb)

.post-button
  = link_to 'Редактировать', edit_admin_post_path(@post), class: 'btn btn-xs btn-primary'
  = link_to 'Удалить', [:admin, @post], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-xs btn-danger'

%h3 Комментарии
- @comments.each do |comment|
  %p= "Автор: #{comment.name}"
  %p= "Текст: #{comment.body}"
  = link_to "Удалить комментарий", [:admin, comment.post, comment], method: :delete, class: 'btn btn-xs btn-danger'
  %hr
= paginate @comments, theme: 'twitter-bootstrap-3', param_name: :comments_page
