<h1>Редактировать</h1>
 
<%= form_for @post, url: post_path(@post), method: :patch do |f| %>
  <p>
    <%= f.label 'Заголовок' %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label 'Текст' %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'На главную', root_path %>