%h2= @post.title
= @post.body
%h3 Комментарии
= paginate @comments, param_name: :comments_page
- @comments.each do |comment|
  %p= comment.name
  %p= comment.body
%h3 Оставить комментарий
= form_for ([@post, @post.comments.build]) do |f|
  = f.text_field :name, class: "form-control", placeholder: "Ваше имя"
  = f.text_area :body, class: "form-control", placeholder: "Комментарий"
  .pull-right
    = f.submit "Отправить", class: "btn btn-success"
