%h2= @post.title
%p= "Text: #{@post.body}"
- if @post_photos
  - @post_photos.each_slice(3) do |photos|
    .row
      - photos.each do |photo|
        .col-sm-6.col-md-4
          .thumbnail
            = link_to image_tag(photo.photo_url(:thumb).to_s), post_path(photo_id: photo.id), id: 'post_image', remote: true

%h3 Комментарии
- @comments.each do |comment|
  %p= "Автор: #{comment.name}"
  %p= "Текст: #{comment.body}"
  %hr
= paginate @comments, theme: 'twitter-bootstrap-3', param_name: :comments_page

%h3 Оставить комментарий
= form_for([@post, @post.comments.build], html: { class: 'form-horizontal' }) do |f|
  = f.text_field :name, class: 'form-control', placeholder: 'Ваше имя'
  %br
  = f.text_area :body, class: 'form-control', placeholder: 'Комментарий'
  %br
  = f.submit 'Отправить', class: 'btn btn-success'

= render 'modal'
