= form_for @image do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, 'Название'
    = f.text_field :title
  .field
    = f.label :post_id, 'Id'
    = f.text_field :post_id
  .field
    = f.label :image, 'Выбрать изображение'
    = f.file_field :image
  .actions
    = f.submit 'Добавить'